<style>
    *{
        font-family: arial, sans-serif;
    }
    .inner-table {
        border-collapse: collapse;
        width: 100%;
    }
    .inner-table td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>
<table cellpadding="10" cellspacing="0" border="0" width="100%">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" width="600" align="center"
                style="border-spacing: 0; padding: 0; margin: 0; border-spacing: 0; 
                width: 600px; margin: auto; border: 1px solid #E1DDDD; box-shadow: 0 1px 3px rgba(0,0,0,0.3);">
                <!-- header -->
                <tr>
                    <td style="font-size: 0">
                        <table cellpadding="0" cellspacing="0" border="0" width="600" align="center"
                            style="border-spacing: 0; padding: 0; margin: 0; border-spacing: 0; width: 600px; margin: auto;">
                            <tr>
                                <td
                                    style="font-size: 0; background-color: #009246; padding: 25px; text-align:center; line-height: 0px;">
                                    <a href="#" target="_blank" style="outline: 0;"><img
                                            src="http://designer.devitsandbox.com/dev_logo/logo-png.png" alt=""
                                            style="border: 0; outline: 0" /></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- end header -->
                <!-- intro text -->
                <tr>
                    <td style="background: #fff">
                        <table cellpadding="0" cellspacing="0" border="0" width="600" align="center"
                            style="border-spacing: 0; padding: 0; margin: 0; border-spacing: 0; width: 600px; margin: auto;">
                            <tr>
                                <td style="height: 25px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <table cellpadding="0" cellspacing="0" border="0" width="560" align="center"
                                        style="border-spacing: 0; padding: 0; margin: 0; border-spacing: 0; width: 560px; margin: auto;">
                                        <tr>
                                            <td valign="top">
                                                <div>
                                                    Hello <b>first_name last_name</b>,
                                                </div><br />
                                                <div>
                                                    There is one new post created under Knowledge Base.
                                                    It has been waiting for your approval. Please once go through it and
                                                    if you find appropriate then approve and publish it. Below are the
                                                    details.
                                                </div><br />
                                                <table class="inner-table">
                                                    <tr>
                                                        <td><b>Title</b></td>
                                                        <td>Kb_title</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Category</b></td>
                                                        <td>category_name</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Created By</td>
                                                        <td>first_name1 last_name1</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Created On</b></td>
                                                        <td>created_on</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Team Of Practice</b></td>
                                                        <td>team - practice</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Status</b></td>
                                                        <td><b>Pending</b></td>
                                                    </tr>
                                                </table>
                                                <p>Please <a
                                                        href=required_url>click here</a>
                                                    to view Post in KB Portal.
                                                <div>
                                                    Regards,
                                                </div>
                                                <div>Knowledge Base - Teamworks,</div>
                                                <div> Dev IT Pvt. Ltd.</div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 25px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="height: 25px;">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- end intro text -->
            </table>
        </td>
    </tr>
</table>
